body {
    margin: 0;
}

.menu {
    background: linear-gradient(to right, transparent, mistyrose), url("Most.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 30vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.menu>span {
    display: inline-flex;
    font-size: 30px;
    width: 25%;
    height: 20vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu-items {
    width: 39%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-item {
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    width: 33%;
    height: 6vh;
    justify-content: center;
    align-items: center;
}

.menu-item:hover {
    color: black;
    background-color: rgba(0, 125, 215, 0.1);
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}

.topic {
    display: flex;
    width: 55%;
    text-align: justify;
    justify-content: flex-end;
}

.topic img {
    float: left;
    width: 350px;
    margin-right: 10px;
}

.topic-text {
    clear: right;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.topic-text h2 {
    height: 3vh;
    margin-bottom: 0;
}

.content {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 30px;
    flex-wrap: wrap;
}

.content-item {
    width: 60%;
    height: 25vh;
    padding: 20px;
    border: thin solid grey;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    overflow: hidden;
}

.content-item img {
    width: 50%;
    height: 12vh;
    align-self: left;
    margin: 0;
}

.content-item div {
    display: flex;
}

.content h2 {
    font-size: 20px;
    color: #212529;
    text-align: center;
    margin-left: 10px;
    align-self: center;
    
}

@media (max-width: 1000px){
    .main {
        flex-direction: column;
    }
    
    .content {
        width: 100%;
    }
    .content-item {
        width: 90%;
        min-height: 150px;
    }
    .topic {
        width: 90%;
        border: thin solid grey;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 0;
        justify-content: center;
    }
    .topic-text h2{
            margin-bottom: 20px;
    }
}

footer>span {
    float: right;
}